






.letterblock {
	background-color: rgb(95, 38, 109);
	width: 3.5rem;
	height: 3.5rem;
	border: 0.4rem groove rgb(138, 240, 36);
	cursor: url("../assets/fingerCursor.png"),auto;
	
}

 p.greentext {
	color: rgb(138, 240, 36);
	font-size: 3rem;
	margin-top: -37%;
	text-align: center;
}

.rowflex {
	display: flex;
	flex-direction: row;
}
.vertsetup {
	display: flex;
	flex-direction: column;
	cursor: url("../assets/fingerCursor.png"),auto;
}

.inputbox {
	
	border: 0.4rem groove rgb(138, 240, 36);
	cursor: url("../assets/fingerCursor.png"),auto;
	width: 10ch;
	
}
.aligncenter.inputbox {

  text-shadow: 1px 1px 2px  rgb(95, 38, 109) 0;
}

.heavytext {
	font-weight:bolder;
	font-size:1.5rem;
	color:}
	;
	-moz-text-shadow: 2px 1px 10px rgb(95, 38, 109);
	-webkit-text-shadow: 2px 1px 10px rgb(95, 38, 109) .5;
  	text-shadow: 1px 1px 2px  rgb(95, 38, 109) .5;

.aligncenter {
	align-items: center;
}

#inputWords {
	display: none;
}

.wholebg {
	width: auto;
	z-index: -2;
}

.bgpic {
	background-image: url("https://videocdn.cdnpk.net/euphony/content/video/partners2319/thumbnails/h7c15b67e_5148566_large.jpg");
}