






.titleblock {
	border: 0.4rem groove rgb(138, 240, 36);
	border-radius: 1rem;
	padding: .5rem;
	font-size: 3.5rem;
	font-weight: bold;
	background-color: rgb(95, 38, 109);
	width: 52.5rem;
	text-align: center;
	color: rgb(138, 240, 36);

}

.pad5 {
	padding: 0.5rem;
}


.letterblock {
	background-color: rgb(95, 38, 109);
	width: 3.5rem;
	height: 3.5rem;
	border: 0.4rem groove rgb(138, 240, 36);

	overflow:hidden;
	color: rgb(138, 240, 36);
	font-size: 1.5rem;
	font-weight: bolder;
	padding-top: -1.5rem;
	text-align: center;
	
}

.bordergreen {

	border-style: solid;
	border-color: rgb(138, 240, 36);
	border-radius: 10px;
}

.greentext {

	color: rgb(138, 240, 36);
	-moz-text-shadow: 2px 1px 10px rgb(95, 38, 109);
	-webkit-text-shadow: 2px 1px 10px rgb(95, 38, 109) .5;
  	text-shadow: 1px 1px 2px  rgb(95, 38, 109) .5;
	font-size: 3rem;

}

.white {
	color: rgb(95, 38, 109);
	background-color: rgb(138, 240, 36);
}




.rowflex {
	display: flex;
	flex-direction: row;
	color: rgb(138, 240, 36);
	
}
.vertsetup {
	display: flex;
	flex-direction: column;
	
}

.inputbox {
	
	border: 0.4rem groove rgb(138, 240, 36);
	border-radius: 10px;
	margin-top:0.25rem;
	text-align: center;
	width: 30%;
	
	
}
.aligncenter.inputbox {

  text-shadow: 1px 1px 2px  rgb(95, 38, 109) 0;
}

.inputpad {
	padding-top: 1rem;
	text-align:center;
}

.heavytext {
	font-weight:bolder;
	font-size:1.5rem;
	color: rgb(138, 240, 36);
	-moz-text-shadow: 2px 1px 10px rgb(95, 38, 109);
	-webkit-text-shadow: 2px 1px 10px rgb(95, 38, 109) .5;
  	text-shadow: 1px 1px 2px  rgb(95, 38, 109) .5;
}

.aligncenter {
	align-items: center;
}

.justifycenter {
	width: 100%;
	text-align:center;
}

#inputWords {
	display: none;
	justify-content: center;
}

.wholebg {
	width: auto;
	z-index: -2;
}

.bgpic {
	background-image: url("https://videocdn.cdnpk.net/euphony/content/video/partners2319/thumbnails/h7c15b67e_5148566_large.jpg");
}

p.littlesquare {
	border: 1rem;
	margin-top: -90%;
	margin-left: 35%;
	width: 0.4rem;
	height: 0.4rem;
	
}
:hover.littlesquare {
	width: 1rem;
	height: 1rem;
	background-color: greenyellow;
}

.picked {
	background-color: rgb(138, 240, 36);
}

.bottombutton {
	margin:1.5rem;
	border-radius: 10px;
	background-color:rgb(138, 240, 36) ;
	color: rgb(95, 38, 109);
	font-size: 1.5rem;
	font-weight: bolder;
	padding-top: -1.5rem;
	width: 20rem;
}


.bottombtn {
	margin-top: 1rem;
	border-radius: 10px;
	background-color:rgb(138, 240, 36) ;
	color: rgb(95, 38, 109);
	font-size: 1.5rem;
	font-weight: bolder;
	padding-top: -1.5rem;
	width: 20rem;
}
	

#foundword {
	display: none;
	margin-left: 12.5rem;
	
	
}

.rightside  {
	border: 0.4rem groove rgb(138, 240, 36);
	justify-content: center;
	border-radius: 1rem;
	padding: .5rem;
	font-size: 1.5rem;
	font-weight: bold;
	background-color: rgb(95, 38, 109);
	height: 52.5rem;
	
}


.inputside {
	 
		border: 0.4rem groove rgb(138, 240, 36);
		justify-content: center;
		border-radius: 1rem;
		padding: .5rem;
		font-weight: bold;
		background-color: rgb(95, 38, 109);
		height: 52.5rem;
		
}	 

.padleft {
	justify-content: center;
	text-align:center;
}

.bottomb {
	margin-top: 1rem;
	border-radius: 10px;
	background-color:rgb(138, 240, 36) ;
	color: rgb(95, 38, 109);
	font-size: 1.5rem;
	font-weight: bold;
	padding-top: -1.5rem;
	
}

.centerdiv {
	width: auto;
	margin:auto;


}

.textleft {
	text-align:left;
}
.pad25p {
	padding-left: 25%;
}

.purpletext {
	color: rgb(95, 38, 109);
}

.width40p {
	width: 50%;
}